<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Edit a vehicle</strong>
                <small>Please fill the Chassis Series and Number</small>
            </c-card-header>
            <c-card-body>
                <form #customStylesForm="ngForm" (ngSubmit)="onSearch()" [gutter]="3" [validated]="customStylesSearchValidated" novalidate cForm cRow class="needs-validation" *ngIf="vehicleId == 0">
                    <c-col [md]="6">
                        <label cLabel for="chassisseries">Chassis Series</label>
                        <input cFormControl id="chassisseries" required type="text" [(ngModel)]="chassisseries" [ngModelOptions]="{standalone: true}" />
                        <c-form-feedback [valid]="false">This field is required</c-form-feedback>
                    </c-col>
                    <c-col [md]="6">
                        <label cLabel for="chassisnumber">Chassis Number</label>
                        <input cFormControl id="chassisnumber" required type="text" [(ngModel)]="chassisnumber" [ngModelOptions]="{standalone: true}" />
                        <c-form-feedback [valid]="false">This field is required</c-form-feedback>
                    </c-col>
                    <c-col [xs]="12">
                        <button cButton class="me-1" color="primary" type="submit">
                          Search...
                        </button>
                    </c-col>
                </form>
                <form #customStylesForm="ngForm" (ngSubmit)="onSubmit()" [gutter]="3" [validated]="customStylesValidated" novalidate cForm cRow class="needs-validation" *ngIf="vehicleId > 0">
                    <c-col [md]="6">
                        <label cLabel for="chassisseries">Chassis Series</label>
                        <input cFormControl id="chassisseries" type="text" [(ngModel)]="chassisseries" [ngModelOptions]="{standalone: true}" readonly />
                    </c-col>
                    <c-col [md]="6">
                        <label cLabel for="chassisnumber">Chassis Number</label>
                        <input cFormControl id="chassisnumber" type="text" [(ngModel)]="chassisnumber" [ngModelOptions]="{standalone: true}" readonly/>
                    </c-col>
                    <c-col [md]="4">
                        <label cLabel for="vehicletype">Type</label>
                        <input cFormControl id="vehicleType" type="text" [(ngModel)]="vehicleTypeName" [ngModelOptions]="{standalone: true}" readonly/>
                    </c-col>
                    <c-col [md]="4">
                        <label cLabel for="vehiclepassengers">Number of Passengers</label>
                        <input cFormControl id="vehiclepassengers" required type="text" [(ngModel)]="passengersNumber" readonly [ngModelOptions]="{standalone: true}" />
                    </c-col>
                    <c-col [md]="4">
                        <label cLabel for="vehiclecolor">Color</label>
                        <input cFormControl id="vehiclecolor" required type="text" [(ngModel)]="color" [ngModelOptions]="{standalone: true}" />
                        <c-form-feedback [valid]="false">This field is required</c-form-feedback>
                    </c-col>
                    <c-col [xs]="12">
                        <button cButton class="me-1" color="primary" type="submit">
                          Save
                        </button>
                    </c-col>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>